body {
  background-color: #a2d2ff;
}
.receivingStyle {
  font-size: large;
  text-align: left;
  list-style-type: none;
  color: white;
  background-color: #e5383b;
  border-radius: 5px;
}
.sendStyle {
  font-size: large;
  text-align: right;
  list-style-type: none;
  color: white;
  background-color: blue;
  border-radius: 5px;
}
.messageArea {
  background-color: white;
  height: 600px;
  width: 600px;
  overflow-y: scroll;
}
.chatArea {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}
.messageList {
  list-style-position: inside;
}
.controllers {
  position: absolute;
  bottom: 1%;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
}
input {
  border: none;
  height: 30px;
  font-size: medium;
  padding-left: 20px;
  margin: 5px;
}
input:hover {
  background-color: lightgray;
}
select {
  border: none;
  height: 30px;
  font-size: medium;
}
select:hover {
  background-color: lightgray;
}
button {
  border: none;
  height: 30px;
  font-size: medium;
  margin: 3px;
}
button:active {
  background-color: pink;
}
